/* login.css */
/* Estilos para la clase .bg */
.bg {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-image: url('http://i.imgur.com/w16HASj.png');
    background-size: cover;
    background-position: top center;
}

/* Estilos para centrar el contenido */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

i {
    padding: 5px;
    color: rgb(255, 255, 255);
}

/* Estilos para el texto */
.secondLine {
    font-weight: 350;
    font-size: 15px;
    margin-bottom: 15%;
    color: rgb(255, 0, 0);
}

/* Estilos para el texto */
.firstLine {
    font-size: 30px;
    color: #F1CCBA;
    animation: slideInFromTop 1s ease-in-out forwards; /* Agrega animación */
}

/* Keyframes para la animación */
@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Inputs del login con animaciones */
#email.CustomInput,
#password.CustomInput,
#name.CustomInput,
#lastname.CustomInput {
    /* Estilos personalizados para los inputs */
    border-radius: 10px; /* Cambia la forma del borde del input */
    border: 1px solid #F1CCBA; /* Cambia el color del borde */
    background-color: rgba(241, 204, 186, 0); /* Cambia el color de fondo con transparencia */
    color: rgb(255, 255, 255); /* Cambia el color del texto */
    animation: slideInFromBottom 1s ease-in-out forwards; /* Agrega animación */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3); /* Cambiar la sombra al pasar el ratón */
}

/* Animaciones */
@keyframes slideInFromBottom {
    from {
        transform: translateY(300%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Estilos personalizados para los campos de entrada de nombre y apellido */
#name.CustomInput,
#lastname.CustomInput {
    /* Estilos personalizados para los inputs */
    border-radius: 10px; /* Cambia la forma del borde del input */
    border: 1px solid #F1CCBA; /* Cambia el color del borde */
    background-color: rgba(241, 204, 186, 0); /* Cambia el color de fondo con transparencia */
    color: rgb(255, 255, 255); /* Cambia el color del texto */
    
    /* Otros estilos que desees aplicar */
}

/* Estilos para el botón de registro */
#registerButton {
    color: white; /* Cambia el color del texto del botón a blanco */
    background-color: #23714D; /* Cambia el color de fondo del botón a #23714D */
    border-color: #23714D; /* Cambia el color del borde del botón a #23714D */
}

#registerButton:hover {
    background-color: #145433; /* Cambia el color de fondo del botón al pasar el ratón por encima */
    border-color: #145433; /* Cambia el color del borde del botón al pasar el ratón por encima */
}

/* Estilos para el botón circular */
.circular-button {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 35px;
    height: 35px;
    background-color: #F1CCBA;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #1C1C1C; /* Color del texto */
    font-size: 20px;
}

/* Estilos para el texto de redirección */
.redirectText {
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
}

.redirectText a {
    color: #F1CCBA;
    text-decoration: none;
}

.redirectText a:hover {
    text-decoration: underline;
}

/* Animación para el botón de login */
#loginButton {
    /* Otros estilos del botón... */
    animation: slideInFromBottomButton 1s ease-in-out forwards; /* Agrega animación */
    /* Otros estilos del botón... */
}

/* Animación para el texto "Regístrate aquí" */
.redirectText {
    animation: slideInFromBottomText 1s ease-in-out forwards; /* Agrega animación */
}

/* Animaciones */
@keyframes slideInFromBottomButton {
    from {
        transform: translateY(200%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromBottomText {
    from {
        transform: translateY(200%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}